.header {
  margin-bottom: 59vh;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    // position: relative;

    @include ipadProScreen {
      align-items: unset;
      position: relative;
    }
  }

  .header__links-mob {
    display: flex;
    align-items: center;

    @include ipadProScreen {
     display: none;
    }

    li {
      margin-left: 45px;
      position: relative;

      &:first-child {
        margin-left: 0;
      }}

    @include ipadProScreen {
      position: fixed;
      background-color: rgb(199, 199, 199);
      height: 100vh;
      width: 100%;
      flex-direction: column;
      justify-content: space-around;
      clip-path: circle(100px at 90% -12%);
      // transition: all 0.7s ease-in-out;
      -webkit-clip-path: circle(100px at 90% -12%);
      transition: all 1s ease-out;

      &.open {
        clip-path: circle(1100px at 90% -12%);
        -webkit-clip-path: circle(1100px at 90% -10);
      }
    }
  }

  &__logo {
    font-weight: 600;
    font-size: 40px;
    line-height: 61px;
    background: linear-gradient(132.36deg, #098761 -46.2%, #A0DEBF 119.56%);
    background-clip: text;
  }
  
  &__links {
    display: flex;
    align-items: center;

    @include ipadProScreen {
     display: none;
    }

    li {
      margin-left: 45px;
      position: relative;

      &:first-child {
        margin-left: 0;
      }

      &::after {
        display: block;
        content: "";
        background-color: color(green);
        height: 2px;
        width: 0%;
        bottom: -7px;
        left: 50%;
        position: absolute;
        -webkit-transition: width .3s ease-in-out;
        -moz--transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
      }

      &:hover {
        a {
          color: color(green);
        }
        &:after {
          width: 100%;
        }
      }

      @include ipadProScreen {
        margin-left: 0;
      }
    }

    a {
      color: color(dark);
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      transition: all 0.3s;

      @include ipadProScreen {
        color: #fff;
      }
    }
  }

  &__burger {
    display: none;

    @include ipadProScreen {
      display: block;
      width: 20px;
      height: 16px;
      position: absolute;
      cursor: pointer;
      right: 0;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;

      &.active {
        // clip-path: circle(100%);
      }
    }
  }
  
  &__burger-line {
    width: 100%;
    height: 1.5px;
    background: color(dark);
  }

  // .hamburger.active .line-1 {
  //   transform: rotate(-45deg) translate(-7px, 7px)
  // }

  //  .hamburger.active .line-3 {
  //   transform: rotate(45deg) translate(-3px,-3px);
  // }

  //  .hamburger.active .line-2 {
  //   opacity: 0;
  //   visibility: hidden;
  // }

  .line-1 {
  }

  .line-2 {
    margin: 5px 0;
  }

  .line-3 {
  }

  .button {
  }

  &__button {
    @include ipadProScreen {
      display: none;
    }
  }

  @keyframes rotate {
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }
}
