.advantage {
  margin-bottom: 100px;

  &__container {
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    width: 33%;
  }

  &__icon {
  }

  &__item-info {
  }
  
}

