.advantage {
  margin-bottom: 100px;

  &__container {
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    width: 32.5%;
    display: flex;
    align-items: center;
    background: #F5FFFB;
    border-radius: 10px;

  }

  &__icon {
  }

  &__item-info {
  }
  
}

