.banner {
  margin: 200px 0 0 0;

  &__container {
  }

  &__items {
    display: flex;
    align-items: center;
  }

  &__info {
    width: 48%;

    h1 {
      font-style: normal;
      font-weight: 400;
      font-size: 60px;
      line-height: 70px;
      letter-spacing: 0.02em;
      color: color(green);
    }

    p {
      font-weight: 400;
font-size: 16px;
line-height: 180%;
/* or 29px */

letter-spacing: 0.025em;
    }
  }
 
  &__banner {
  }


  &__button {
    position: relative;
    padding: 19px 22px;
    transition: all .2s ease;
    text-decoration: none;
    color: inherit;
    margin: 100px auto; 

    &:before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      display: block;
      border-radius: 28px;
      background: color(lightgreen);
      width: 56px;
      height: 56px;
      transition: all .3s ease;
    }

    &:hover {
      &:before {
        width: 100%;
        background: color(lightgreen); 
      }
      svg {
        transform: translateX(0);
      }
    }
    &:active {
      transform: scale(.96);
    }
  }
  
  
  span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    vertical-align: middle;
  }

  svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all .3s ease;
  }
}