$colors: (
  black: #000,
  dark: #212121,
  white: #FFF,
  lightgreen: #15BD6D,
  green: #15BD6D
);

$screenWidth: (
  pc: 1920px,
  tablet: 1200px,
  ipadPro: 1024px,
  ipad: 768px,
  phone: 375px,
);


@function screenWidth($key) {
  @return map-get($map: $screenWidth, $key: $key);
}
  
@function color($key) {
  @return map-get($map: $colors, $key: $key);
}