$colors: (
  black: #000,
  dark: #212121,
  white: #FFF,
  lightgreen: #A0DEBF,
  green: #15BD6D
);

$screenWidth: (
  pc: 1920px,
  tablet: 1200px,
  ipad: 1024px,
  ipadmi: 768px,
  phone: 500px,
);


@function screenWidth($key) {
  @return map-get($map: $screenWidth, $key: $key);
}
  
@function color($key) {
  @return map-get($map: $colors, $key: $key);
}