.footer {
  background: #77B093; 
  padding: 50px 0;

  &__container {
  }
  
  &__items {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  
  &__item {
    display: flex;
    flex-direction: column;
    max-width: 20%;

    .logo {
      font-weight: 600;
      font-size: 38px;
      color: color(white);
    }

    a {
      color: color(white);
    }
  }
  
  &__location {
    p {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 300;
      font-size: 14px;
      line-height: 145%;
      letter-spacing: 0.025em;
      color: color(white);
      margin-bottom: 12px;

      svg {
        width: 45px;
        height: 45px;
        margin-right: 6px;
      }
    }
  }
  
  &__services {
  }
  
  &__nav {
  }
  
  .contacts__mail {
  }
  
  .telegram {
  }

  .button-1 {
    color: color(white);
    border-color: color(white);

    &:hover {
      border-color: transparent;
    }
  }
}

