.rate {

  &__items {
  }
  
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F5FFFB;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
    transition: all 0.3s;
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0px 1px 23px rgba(119, 176, 147, 0.6);
    }
  }
  
  &__item__info {
    display: flex;
    align-items: flex-start;
    span {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: #3A7059;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 16px;
      @media (max-width: 820px) {
        width: 26px;
        height: 26px;
      }
    
      img {
        width: 16px;
        height: 16px;
      }
    }
  }
  
  &__item__price {
    p {
      font-size: 18px;
      opacity: 0.6;
    }

    b {
      opacity: 1;
      colot
    }
  }
}


