.services {
  margin-top: 130px;

  &__container {

    .title__block {
      margin: 0 0 50px 0;
    }

    h1 {
      width: 45%;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
  }

  &__item {
    overflow: hidden;
    background-color: color(lightgreen);
    position: relative;
  }

  &__item-animation {
    transform: translate(-100%, -100%);
    position: absolute;
    left: 0;
    
    &::after {
      content: '';
      position: absolute;
      background: #000;
    }
  }

  &__item-images {
  }

  &__item-info {
   
  }
}
