.rates {
  margin-top: 130px;

  &__container {
    h1 {
      width: 35%;
    }
  }
  
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
  }
  
  &__item {
  }
  
  &__item-title {
    background: #3A7059;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;

    h3 {
      font-weight: 300;
      font-size: 18px;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: color(white);
    }
  }
  
  &__item-info {
  }
  
  &__item-paragraph {
    display: flex;
    align-items: center;

    span {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: #3A7059;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 16px;
        height: 16px;
      }
    }

    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 145%;
      /* identical to box height, or 29px */
      
      letter-spacing: 0.025em;
      color: #888888;
    }
  }
  
  &__item-price {
  }
}


